$container-sm: 590px;
$container-md: 884px;
$container-lg: 1440px;

$color-primary: #ff458f;
$color-white: #ffffff;
$color-black: #000000;
$color-gray-1: #fafafa;
$color-gray-2: #333333;
$color-border: #e6e6e6;
$color-error: #ff0000;
$color-hint: #9b9b9b;

$transition: all 0.1s ease-in;

// TODO: Replace with Proxima Nova
$font-main: "Montserrat", sans-serif;
